/*========== стили для галереи  вкладка сайта № 2 ================ */
.galery {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.foto {
  width: 400px;
  height: 400px;
  position: relative;
  /* width: 100%; */
  border-radius: 5px;
  /* background-image: url(../imges/pattern_1335.png); */
  box-sizing: border-box;
  border: 5px solid rgba(0, 0, 0, 0.185);
  margin: 20px;
  transition: 0.5s;
  box-shadow: 0px 0px 5px rgba(12, 12, 12, 0.39);
}

.foto img {
  border-radius: inherit;
  opacity: 0;
  position: absolute;
  width: 100%;
  box-shadow: inherit;
  transition: opacity 0.5s;
}
.foto img.showImg {
  opacity: 1;
}
.foto span {
  display: none;
}

.buttonNext {
  /* content: ""; */
  display: inline-block;
  /* By using an em scale, the arrows will size with the font */
  width: 15px;
  height: 15px;
  border-right: 3px solid rgb(214, 208, 208);
  border-top: 3px solid rgb(214, 208, 208);
  transform: rotate(45deg);
  cursor: pointer;
}
.buttonNext:active {
  position: relative;
  left: 3px;
}
.buttonPrev {
  /* content: ""; */
  display: inline-block;
  /* By using an em scale, the arrows will size with the font */
  width: 15px;
  height: 15px;
  border-right: 3px solid rgb(214, 208, 208);
  border-top: 3px solid rgb(214, 208, 208);
  transform: rotate(-135deg);
  /* margin-right: 20px; */
  cursor: pointer;
}
.buttonPrev:active {
  position: relative;
  left: -3px;
}
/* .button-slider button {
    text-align: center;
    outline: none;
    color: rgb(94, 72, 38);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    background: rgb(151, 148, 148);
    border-radius: 1px;
    box-shadow: 0px 0px 5px rgba(12, 12, 12, 0.39);
  }
  .button-slider button:active {
    position: relative;
    top: 5px;
  } */
@media screen and (max-width: 550px) {
  /* стили для кнопок   и для фото мобайл версия */
  .galery {
    display: flex;

    justify-content: center;
  }
  .foto {
    flex-basis: 400px;
    width: 250px;
    height: 280px;
  }
  .button-slider {
    /* align-self: flex-end; */
    order: 1;
  }

  /* .foto span:hover {
      display: block;
      position: absolute;
      top: -5px;
      color: antiquewhite;
      left: 110px;
      cursor: pointer;
    } */
  .scale2 {
    z-index: 1;
    display: block;
    transform: scale(2);
  }
}
