body,
html,
ul,
li {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../imges/pattern_1335.png);
}
.wrap {
    max-width: 960px;
    margin: 0 auto;
    background: rgb(199, 180, 142);
    overflow: hidden;

    /* height: inherit; */
}
.main-header {
    /* min-height: 250px;
  background: rgb(54, 109, 228); */
}
.main-header .logo {
    width: 150px;
    float: left;
}
h1 {
    padding-left: 200px;
    float: left;
    font-size: 40px;
    line-height: 120px;
}

.adress {
    font-size: 20px;
    float: right;
}

.menu {
    /* background: rgb(228, 94, 94);
  min-height: 50px; */
}

.menu ul {
    /* margin-top: 50px; */
    min-height: 50px;
    background: rgba(219, 210, 82, 0.363);
}
.menu li {
    display: inline-block;
    padding: 0 40px;
    /* height: 55px; */
}

.menu li a {
    text-decoration: none;
    line-height: 50px;
    color: #000;
    display: block;
    font-size: 18px;

    /* background: rgb(150, 140, 140); */
}

.menu li a:hover {
    text-shadow: 1px 1px 1px rgb(221, 207, 207);

    opacity: 0.7;
}
main {
    /* min-height: 200px;
  background: rgb(228, 94, 210); */
}
main .galery {
    padding-top: 30px;
    text-align: center;
    border: 5px solid rgba(107, 99, 83, 0.562);
    overflow: hidden;
    width: 100%;
    background: rgb(160, 126, 63);
    box-sizing: border-box;
}
.foto {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    padding: 20px;
    /* border: 5px solid rgba(107, 99, 83, 0.562); */
}

footer {
    /* background: rgb(107, 52, 52); */
    min-height: 200px;
}
.cotial {
    min-height: 200px;
}
