body,
html,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(pattern_728.png);
}
.wrap {
  max-width: 1260px;
  margin: 0 auto;
  background: rgb(175, 148, 95);
  overflow: hidden;

  /* height: inherit; */
}
.main-header {
  /* min-height: 150px;
  background: rgb(54, 109, 228); */
}
.main-header .logo {
  width: 150px;
  float: left;
}
h1 {
  padding-left: 200px;
  float: left;
  font-size: 40px;
  line-height: 120px;
}

.adress {
  font-size: 20px;
  float: right;
}

.menu {
  /* background: rgb(228, 94, 94); */
  /* min-height: 70px; */
}

.menu ul {
  /* margin-top: 50px; */
  min-height: 50px;
  background: rgba(136, 102, 82, 0.185);
}
.menu li {
  display: inline-block;
  padding: 0 40px;
  /* height: 55px; */
}

.menu li a {
  text-decoration: none;
  line-height: 50px;
  color: #000;
  display: block;
  font-size: 18px;

  /* background: rgb(150, 140, 140); */
}

.menu li a:hover {
  text-shadow: 1px 1px 1px rgb(221, 207, 207);

  opacity: 0.7;
}
main {
  /* min-height: 500px;
  background: rgb(228, 94, 210); */
}
.content {
  padding-top: 30px;
  text-align: center;
}
.content-foto img {
  width: 600px;
}
.box1 {
  width: 40%;
  float: left;
  border: 1px solid #000;
  min-height: 500px;
}
.box2 {
  width: 40%;
  float: right;
  border: 1px solid #000;
  min-height: 500px;
}
footer {
  /* background: rgb(107, 52, 52);
  height: 200px; */
}
.cotial {
  min-height: 100px;
}
