/* ============стили  main для главной страницы  ============*/
.content-banner {
  /* align-self: center; */
  /* flex-basis: 300px; */
  /* align-self: flex-end; */
  height: 400px;
  /* margin-left: 0 auto; */
  /* margin-right: 0 auto; */

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid rgb(124, 46, 46); */
}

.content-banner-wrap {
  height: 300px;
  /* margin: 0 auto; */
  width: 400px;
  position: relative;
  /* background-color: rgba(0, 0, 255, 0.438); */
  overflow: hidden;

  /* border: 1px solid rgb(16, 15, 99); */
}

.content-items {
  top: 0;
  left: 0;

  height: 300px;
  width: 390px;
  box-sizing: border-box;
  /* width: 100%; */
  transition: 0.9s;
  position: absolute;
  padding: 10px;
  /* opacity: 0; */
  font-family: inherit;
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(223, 226, 62);
  /* border: 1px solid rgb(241, 92, 5); */
  /* border-color: blue; */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 15px inset rgb(138, 54, 6);

  /* box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39); */
  text-shadow: 0px 0px 7px rgb(241, 92, 5);
}

.tarnsform {
  transform: scale(2.5);
}

h3 {
  /* transform: scale(2.5); */
  /* color: rgb(243, 219, 6); */
  font-size: 30px;
  font-family: "Quantico", sans-serif;
  /* text-shadow: 0px 0px 5px 20px rgba(8, 8, 8, 0.59); */
}

.controls {

  text-align: center;
}

.input {

  display: none;
}

#circle1:checked~.label1,
#circle2:checked~.label2,
#circle3:checked~.label3,
#circle4:checked~.label4 {
  background: white;
}

label {
  display: inline-block;
  margin: 10px;
  border: 3px solid rgb(145, 132, 132);
  border-radius: 50%;
  position: relative;
  width: 10px;
  height: 10px;

}



.content-items~
/* label::after {
  position: absolute;
  top: 0;
  left: -50px;
  display: block;
  content: '';
  background: rgb(241, 3, 3);
  border-radius: 50%;
  width: 10px;
  height: 10px;
} */