@import url("https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap");
body,
html,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
}
body {
  background-image: url(../imges/pattern_1335.png);
  opacity: 0.9;
}
.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.main-header {
  /* min-height: 150px;
  background: rgb(54, 109, 228); */
}
.flex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* margin: 0 -50px; */
  /* background: rgba(219, 210, 82, 0.363); */
  /* padding: 0 0 -50px 0; */
}
.main-header a {
  flex-basis: 200px;
  display: block;
  margin: 0 auto;

  /* margin-right: 50px; */
}

.main-header img {
  width: 100%;
}
.text-logo {
  font-size: 50px;
  flex-basis: 400px;
  font-weight: bold;
  color: beige;
  text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
  /* flex-grow: 1; */
  margin: 0 auto;
  position: relative;
  /* display: flex; */
}
.text-logo::after {
  content: "Тренаженый зал";
  font-family: "Quantico", sans-serif;
  font-size: 12px;
  position: absolute;
  left: 290px;
  top: 0px;
}

.adress {
  font-size: 14px;

  color: beige;
  margin-bottom: auto;
  margin-left: auto;
  /* order: 1; */
}
/*  кнопку гамбургер div c тегом leble img--- */
.menu-hidden {
  opacity: 0;
  transition: opacity 0.5s;
  /* cursor: pointer; */
}
/* скрываем тег инпута */
#menu-tag {
  display: none;
}
/* ---------ul главная навигация -------- */
.main-navigation {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* display: none; */
  /* background: rgba(219, 210, 82, 0.363); */
  list-style-type: none;
}
.main-navigation span {
  display: none;
}
.main-navigation li {
  padding: 20px;
  transition: 0.5s;
  position: relative;
  top: 0px;
  left: 0px;
}
.main-navigation span:nth-child(1) {
  /* display: none; */
}

.main-navigation li a {
  color: beige;
  text-decoration: none;
  transition: 0.8s;
  /* display: block; */
  font-size: 18px;
  font-family: "Quantico", sans-serif;
  /* background: rgb(150, 140, 140); */
}

.main-navigation li:hover {
  /* position: relative; */
  top: 2px;
  left: 0px;
  background: rgba(46, 45, 45, 0.185);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.541);
  text-shadow: 0px 0px 1px rgb(252, 252, 252);
  /* border-bottom: 1px solid rgb(221, 219, 187); */
}
.acitve-page {
  opacity: 1;
  background: rgba(46, 45, 45, 0.185);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.541);
  text-shadow: 0px 0px 1px rgb(253, 253, 253);
}
/* одинаковый стиль для всех страниц */
.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
  /* align-items: flex-end; */
  /* background: rgba(160, 126, 63, 0.76); */
  padding: 20px;
  background: rgba(160, 126, 63, 0.76);
  /* overflow: hidden; */
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
  margin-bottom: 30px;
}

/* ============стили  main для главной страницы  ============*/
.content-banner {
  flex-basis: 600px;
  /* align-self: flex-end; */
  height: 300px;
  /* margin-left: 0 auto; */
  margin-right: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  /* border: 1px solid rgb(124, 46, 46); */
}
div.show1 {
  opacity: 1;
}

.content-items {
  align-self: center;
  /* border: 1px solid #000; */
  position: absolute;
  padding: 10px;
  opacity: 0;
  font-family: inherit;
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(223, 226, 62);
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39); */
  text-shadow: 0px 0px 7px rgb(241, 92, 5);
}
h3 {
  /* color: rgb(243, 219, 6); */
  font-size: 30px;
  font-family: "Quantico", sans-serif;
  /* text-shadow: 0px 0px 5px 20px rgba(8, 8, 8, 0.59); */
}
/* ==============Стили для FOOTER социальные иконки============ */
footer .wrap {
  background: rgba(46, 45, 45, 0.568);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
}

.cotial-flex {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.cotial {
  text-align: right;
}
.adress-foter {
  font-size: 14px;

  color: beige;
  padding-top: 20px;
}
.cotial-flex li {
  background: white;
  border-radius: 50px;
  height: 50px;
}
/* --------------------футер навигация ----- */
.main-navigation.footer li:hover {
  background: rgba(46, 45, 45, 0.568);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
}
/*========== стили для галереи  вкладка сайта================ */
.galery {
  /* display: flex;

  flex-wrap: wrap;
  justify-content: space-around; */
}
.foto {
  width: 300px;
  height: 300px;
  position: relative;
  /* flex-basis: 30%;
  min-width: 150px; */
  border-radius: 5px;
  /* background-image: url(../imges/pattern_1335.png); */
  box-sizing: border-box;
  border: 5px solid rgba(0, 0, 0, 0.185);
  margin: 20px;
  transition: 0.5s;
  box-shadow: 0px 0px 5px rgba(12, 12, 12, 0.39);
}

.foto img {
  border-radius: inherit;
  opacity: 0;
  position: absolute;
  width: 100%;
  box-shadow: inherit;
  transition: opacity 0.5s;
}
.foto img.showImg {
  opacity: 1;
}
.foto span {
  display: none;
}
.button-slider {
  flex-basis: 800px;
  /* margin: 0 auto; */
  text-align: center;
}
.button-slider button {
  text-align: center;
  outline: none;
  color: rgb(94, 72, 38);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  background: rgb(151, 148, 148);
  border-radius: 1px;
  box-shadow: 0px 0px 5px rgba(12, 12, 12, 0.39);
}
.button-slider button:active {
  position: relative;
  top: 1px;
}
/* ====== =======стили для вкладки сайта мар */
.map {
  flex-basis: 800px;
  min-height: 400px;
  margin: 0 auto;
  /* border: 1px transparent #000; */
}
.map iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 550px) {
  /* ----стиль для главной header навигации----- */
  .flex-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* margin: 0 -50px; */
    /* background: rgba(219, 210, 82, 0.363); */
    padding: 0 0 -50px 0;
  }
  .main-header a {
    flex-basis: 100px;

    /* margin: 0 auto; */
    max-width: 100px;
    /* align-self: center; */
  }
  .text-logo {
    /* margin: 0 auto; */
    /* margin-left: 120px; */
    font-size: 20px;
    flex-basis: 50px;
    font-weight: bold;
    color: beige;
    /* align-self: center; */
    text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
    position: relative;
  }

  .text-logo::after {
    content: "Тренаженый зал";
    font-family: "Quantico", sans-serif;
    font-size: 8px;
    position: absolute;
    left: 50px;
    top: -5px;
    text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
  }
  .adress {
    position: absolute;
    visibility: hidden;

    align-self: center;
  }

  .menu .wrap {
    position: relative;
    /* background: red; */
  }
  /*--------------- кнопка гамбургер */
  .menu-hidden {
    transition: 0.5s;
    opacity: 1;
    /* background: rgba(219, 210, 82, 0.363); */
    color: aliceblue;
    width: inherit;
  }
  .menu-hidden label {
    cursor: pointer;
  }
  /* создаем стили для скрытого меню */
  .main-navigation {
    display: flex;
    /* width: 0px;
    overflow: hidden; */
    opacity: 0;

    /* height: 0px; */
    flex-wrap: wrap;
    align-items: flex-start;
    transition: 0.5s;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(160, 126, 63, 0.959);
    list-style-type: none;
    font-family: "Quantico", sans-serif;
    position: absolute;
    left: -150px;

    box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
  }
  .main-navigation.show {
    left: 0;
    opacity: 1;
    z-index: 1;
  }
  /* #menu-tag:checked ~ .main-navigation {
    left: 0;

    opacity: 1;
    z-index: 1;
  } */
  .main-navigation > span {
    display: block;
    font-family: "Quantico", sans-serif;
    color: aliceblue;
    margin-left: 130px;
    font-size: 18px;
    cursor: pointer;
  }

  .main-navigation li {
    padding: 5px;
    width: 140px;
    transition: 0.5s;
  }
  .main-navigation li:hover {
    /* border-bottom: 1px solid rgb(221, 219, 187); */
  }

  /* крестик стиль для закрывания фото */
  .foto span {
    position: absolute;
    top: -5px;
    color: antiquewhite;
    left: 110px;
    cursor: pointer;
  }

  /* .foto span:hover {
    display: block;
    position: absolute;
    top: -5px;
    color: antiquewhite;
    left: 110px;
    cursor: pointer;
  } */
  .scale2 {
    z-index: 1;
    display: block;

    transform: scale(2);
  }
  /* .foto {
    flex-basis: 120px;
  } */

  .adress-foter {
    font-size: 10px;

    color: beige;
  }
}
