@import url("https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap");

body,
html,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
}

body {
  background-image: url(../imges/pattern_1335.png);
  opacity: 0.9;
  color: beige;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.main-header {
  /* min-height: 150px;
  background: rgb(54, 109, 228); */
}

.header-flex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* margin: 0 -50px; */
  /* background: rgba(219, 210, 82, 0.363); */
  /* padding: 0 0 -50px 0; */
}

.main-header a {
  flex-basis: 200px;
  display: block;
  margin: 0 auto;

  /* margin-right: 50px; */
}

.main-header img {
  width: 100%;
}

.text-logo {
  font-size: 50px;
  flex-basis: 400px;
  font-weight: bold;
  color: beige;
  text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
  /* flex-grow: 1; */
  margin: 0 auto;
  position: relative;
  /* display: flex; */
}

.text-logo::after {
  content: "Тренаженый зал";
  font-family: "Quantico", sans-serif;
  font-size: 12px;
  position: absolute;
  left: 290px;
  top: 0px;
}

.adress {
  font-size: 14px;

  color: beige;
  margin-bottom: auto;
  margin-left: auto;
  /* order: 1; */
}

/*  кнопку гамбургер div c тегом leble img--- */
.menu-hidden {
  opacity: 0;
  transition: opacity 0.5s;
  /* cursor: pointer; */
}

/* ---------ul главная навигация -------- */
.main-navigation {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* display: none; */
  /* background: rgba(219, 210, 82, 0.363); */
  list-style-type: none;
}

.main-navigation span {
  display: none;
}

.main-navigation li {
  padding: 20px;
  transition: 0.5s;
  position: relative;
  top: 0px;
  left: 0px;
}

.main-navigation li a {
  color: beige;
  text-decoration: none;
  transition: 0.8s;
  /* display: block; */
  font-size: 18px;
  font-family: "Quantico", sans-serif;
  /* background: rgb(150, 140, 140); */
}

.main-navigation li:hover {
  /* position: relative; */
  top: 2px;
  left: 0px;
  background: rgba(46, 45, 45, 0.185);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.541);
  text-shadow: 0px 0px 1px rgb(252, 252, 252);
  /* border-bottom: 1px solid rgb(221, 219, 187); */
}

.acitve-page {
  opacity: 1;
  background: rgba(46, 45, 45, 0.185);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.541);
  text-shadow: 0px 0px 1px rgb(253, 253, 253);
}

/* одинаковый стиль для всех страниц */
.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  /* align-items: flex-end; */
  /* background: rgba(160, 126, 63, 0.76); */
  /* padding: 20px; */

  background: rgba(66, 61, 61, 0.548);
  /* overflow: hidden; */
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
  /* margin-bottom: 30px; */
}

/* ==============Стили для FOOTER социальные иконки============ */
footer .wrap {
  background: rgba(46, 45, 45, 0.568);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
}

.cotial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: right; */
}

.cotial-flex {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.main-navigation.footer {
  align-self: flex-start;
}

.adress-foter {
  font-size: 14px;
  align-self: flex-end;
  color: beige;
  /* padding-top: 20px; */
}

/*стили для социальных иконок */
.cotial-flex li {
  background: white;
  border-radius: 50px;
  height: 50px;
}

/* --------------------футер навигация ----- */
.main-navigation.footer li:hover {
  background: rgba(46, 45, 45, 0.568);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
}

/* ====== =======стили для вкладки сайта мар */
.map {
  flex-basis: 800px;
  min-height: 400px;
  margin: 0 auto;
  /* border: 1px transparent #000; */
}

.map iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 550px) {

  /* ---- один стиль для всего сайта header и footer----- */
  .header-flex-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* margin: 0 -50px; */
    /* background: rgba(219, 210, 82, 0.363); */
    padding: 0 0 -50px 0;
  }

  .main-header a {
    flex-basis: 100px;

    /* margin: 0 auto; */
    max-width: 100px;
    /* align-self: center; */
  }

  .main-content {
    transition: 0.9s;

  }

  .text-logo {
    /* margin: 0 auto; */
    /* margin-left: 120px; */
    font-size: 20px;
    flex-basis: 50px;
    font-weight: bold;
    color: beige;
    /* align-self: center; */
    text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
    position: relative;
  }

  .text-logo::after {
    content: "Тренаженый зал";
    font-family: "Quantico", sans-serif;
    font-size: 8px;
    position: absolute;
    left: 50px;
    top: -5px;
    text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
  }

  .adress {
    position: absolute;
    visibility: hidden;

    align-self: center;
  }

  .menu .wrap {
    position: relative;
    /* background: red; */
  }

  /*--------------- кнопка гамбургер */
  .menu-hidden {
    transition: 0.5s;
    opacity: 1;
    /* background: rgba(219, 210, 82, 0.363); */
    color: aliceblue;
    width: inherit;
  }

  .img-show-menu {
    background: rgba(255, 208, 0, 0.63);
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
  }



  /* создаем стили для скрытого меню */
  .main-navigation {
    display: flex;
    /* width: 0px; */
    z-index: 1;
    opacity: 1;
    /* overflow: hidden;
    height: 0px; */
    flex-wrap: wrap;
    /* align-items: flex-start; */

    flex-direction: column;
    border-radius: 5px;
    background-image: url(../imges/pattern_1335.png);
    /* background: rgba(160, 126, 63, 0.959); */
    list-style-type: none;
    font-family: "Quantico", sans-serif;
    position: absolute;
    left: -150px;
    transition: 0.5s;
    box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
  }

  /* -------------добавляем класс для меню скривать показивать--- */
  .show {
    left: 0;
    opacity: 1;


  }


  .main-navigation>span {
    display: block;
    font-family: "Quantico", sans-serif;
    color: aliceblue;
    margin-left: 130px;
    font-size: 18px;
    cursor: pointer;
  }

  .main-navigation li {
    padding: 5px;
    width: 140px;
    transition: 0.5s;
  }

  .main-navigation li:hover {
    /* border-bottom: 1px solid rgb(221, 219, 187); */
  }

  .adress-foter {
    font-size: 10px;

    color: beige;
  }
}